html, body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #C9D5BD;
    margin: 0;
    padding: 0;
}

.topnav{
    display: flex;
    justify-content: center;
}

.topnav a{
    color: #728264;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 24px;
}

.topnav a:hover{
    color: #9EAB92;
}

.topnav a.active{
    color: #435830;
}

.mainsec{
    height: 615px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainsec .name{
    width: 500px;
    text-align: center;
    color: #435830;
}

.mainsec .name h1{
    font-size: 85px;
    margin: 0;
}

.mainsec .name h6{
    font-size: 22px;
    margin: 0;
}

.mainsec .photo .main_photo{
    width: 500px;
    height: 500px;
}

.infosec{
    height: 500px;
    background-color: #435830;
    color: #C9D5BD;
}

.infosec h6{
    font-size: 22px;
    padding-top: 80px;
    padding-left: 20px;
    padding-bottom: 20px;
    margin: 0;
}

.infosec h1{
    font-size: 65px;
    margin: 0;
    padding-left: 20px;
    width: 1000px;
    text-align: justify;
}

.skillsec{
    height: 2100px;
}

.skillsec h1{
    text-align: center;
    font-size: 88px;
    color: #435830;
}

.flip-card {
    background-color: transparent;
    width: 400px;
    height: 400px;
    perspective: 1000px;
    margin: 100px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
    cursor: pointer;
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color: #435830;
    border-radius: 50%;
    color: #C9D5BD;
  }

  .flip-card h1{
    color: #C9D5BD;
    font-size: 30px;
  }
  
  .flip-card-back {
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
  }

.exploresec{
    height: 550px;
    background-color: #435830;
    color: #C9D5BD;
}

.exploresec .menu{
    display: flex;
    justify-content: center;
    text-align: center;
}

.exploresec .menu .explore_myworks, .exploresec .menu .explore_contact{
    padding: 40px;
}

.exploresec h1{
    font-size: 55px;
    text-align: center;
    padding: 30px;
}

.exploresec a{
    font-size: 38px;
    text-decoration: none;
}

.exploresec a:hover{
    color: #728264;
    cursor: pointer;
}

.exploresec h6{
    font-size: 16px;
    width: 200px;
}

footer{
    color: #435830;
    text-align: center;
    font-size: 10px;
}